p{ /*seletor*/
    color:rgb(255, 255, 255) /*color -> propriedade, cor -> valor*/
}
h1{
    color:rgb(95, 46, 55)
}
h2{
    color:rgb(95, 46, 55)
}
footer{
    color: rgba(22, 30, 145, 0.493)
}
body{
    background-color: rgb(255, 158, 173);
}
a{
    color: rgb(255, 255, 255)
}

/*Fontes*/
.fonte-texto {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.fonte-h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.fonte-links {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  text-align: center;
}

.div-1{
    padding: 2px;
    background-color: rgb(95, 46, 55);
    margin: 8px;
    height: auto;
    border: 10px solid rgb(255, 255, 255);
}

/*
.div-2{ -> Arrumar isso
    padding: 2px;
    background-color: rgba(69, 101, 228, 0.845);
    margin: 8px;
    height: auto;
    color: rgb(255, 255, 255);
}
*/

.gif-gato {
  width: 170px;
  height: auto; /* Mantém a proporção da altura */
}

.gif-guaxinim {
  width: 170px;
  height: auto; /* Mantém a proporção da altura */
}


.lista{
    list-style-type: circle;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}
